<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
	  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Service">
    <listeners>
      <add name="Service Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="LogFiles\service.log" formatter="Text Formatter" rollInterval="Day" rollSizeKB="1024" rollFileExistsBehavior="Increment"/>
      <add name="Website Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="LogFiles\Website.log" formatter="Text Formatter" rollInterval="Day" rollSizeKB="1024" rollFileExistsBehavior="Increment"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}
Message: {message}{newline}
Severity: {severity}{newline}" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Service">
        <listeners>
          <add name="Service Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Website">
        <listeners>
          <add name="Website Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Service Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="ARRServer" value=".\SQLEXPRESS"/>
    <add key="ARRDatabase" value="PerceptiveARR"/>
    <add key="ConfigDatabase" value="PerceptiveARR_Config"/>
    <add key="UserId" value="ihe"/>
    <add key="Password" value="Abcd1234!@#$"/>
    <add key="RepositoryManagerEndpoint" value="http://localhost/ARRService"/>
    <add key="ProxyAddress" value=""/>
    <add key="RequestTimeout" value="200000"/>
    <add key="ErrorLogActive" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="300"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <add value="RepositoryService.svc"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
	  <extensions>
		  <behaviorExtensions>
			  <add name="crossOriginResourceSharingBehavior" type="Perceptive.ARR.Service.Installer.CorsBehaviorAttribute, Perceptive.ARR.Service.Installer" />
		  </behaviorExtensions>
	  </extensions>
    <bindings>
      <webHttpBinding>
        <binding name="streamWebHttpBinding" maxReceivedMessageSize="1000000000000" receiveTimeout="01:00:00" sendTimeout="01:00:00" transferMode="Streamed"/>
      </webHttpBinding>
    </bindings>
    <behaviors>		
      <serviceBehaviors>		  
        <behavior name="ARRServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
			<webHttp/>
			<crossOriginResourceSharingBehavior  />
			<dataContractSerializer maxItemsInObjectGraph="2147483646"/>			
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Perceptive.ARR.RestService.RepositoryManager" behaviorConfiguration="ARRServiceBehavior">
        <endpoint behaviorConfiguration="RestBehavior" address="http://localhost/ARRService" contract="Perceptive.ARR.RestService.IRepositoryManager" binding="webHttpBinding" bindingConfiguration="streamWebHttpBinding"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>	
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "Traces.svclog"/>
        </listeners>
      </source>
      <source name="System.Net">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.HttpListener">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.HttpListener" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="Network.log" traceOutputOptions="DateTime" />
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>-->
</configuration>
